body{
    margin-left: 5em
}
#nav_menu ul{
    list-style-type: none;
    margin-bottom: 4em;
}
#nav_menu li{
    display: inline;
    padding: 1em 3em;
    background-color: blue;
    border-right: 1px white;
}
#nav_menu li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#nav_menu li a:hover{
    color:yellow;
}
#nav_menu li a:focus{
    color:yellow;
}

article p{
    font-size: 1em;
    font-weight: 100;
}

aside ol{
    list-style-type: upper-roman;
}

aside ul{
    list-style-type: square;
}